.u-border {
  border-style: solid;
  border-width: 1px;
  border-color: $color-border;
  &--none {
    border-width: 0;
    &\@mobile {
      @media (--mq-mobile) {
        border-width: 0;
      }
    }
    &\@xs {
      @media (--mq-xs) {
        border-width: 0;
      }
    }
    &\@sm {
      @media (--mq-sm) {
        border-width: 0;
      }
    }
    &\@sm-min {
      @media (--mq-sm-min) {
        border-width: 0;
      }
    }
    &\@md {
      @media (--mq-md) {
        border-width: 0;
      }
    }
    &\@md-min {
      @media (--mq-md-min) {
        border-width: 0;
      }
    }
    &\@lg {
      @media (--mq-lg) {
        border-width: 0;
      }
    }
  }
}
