/*
@styleguide

@title c-notification

A notification/alert component. Currently has "error" and "success" modifiers.

<div class="c-notification c-notification--error">
  You are using an <strong>outdated</strong> browser.
  Please <a href="http://browsehappy.com/" class="c-notification__link">upgrade your browser</a> to improve your experience.
</div>

    <div class="c-notification c-notification--error">
      You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" class="c-notification__link">upgrade your browser</a> to improve your experience.
    </div>
*/

.c-notification {
  color: $color-white;
  font-size: $font-size-2;
  padding: $base-spacing;
  &__link {
    &:link,
    &:visited,
    &:hover,
    &:active {
      color: $color-white;
    }
  }
  &--success {
    border: 1px solid $color-success-dark;
    background-color: $color-success;
  }
  &--error {
    border: 1px solid $color-error-dark;
    background-color: $color-error;
  }
}
