/*
@styleguide

@title c-progress

Use the button classes on and `<a>`, `<button>`, `<input>` elements.

<div class="c-progress">
  <div class="c-progress__path">
    <div class="c-progress__path__bar c-progress__path__bar--complete"></div>
    <div class="c-progress__path__bar c-progress__path__bar--complete"></div>
    <div class="c-progress__path__bar"></div>
  </div>
  <div class="c-progress__steps">
    <div class="c-progress__item c-progress__item--complete">
      <div class="c-progress__item__step">1</div>
      <div class="c-progress__item__label">First step</div>
    </div>
    <div class="c-progress__item c-progress__item--complete">
      <div class="c-progress__item__step">2</div>
      <div class="c-progress__item__label">Second step</div>
    </div>
    <div class="c-progress__item c-progress__item--active">
      <div class="c-progress__item__step">3</div>
      <div class="c-progress__item__label">Third step</div>
    </div>
    <div class="c-progress__item">
      <div class="c-progress__item__step">4</div>
      <div class="c-progress__item__label">Fourth step</div>
    </div>
  </div>
</div>

    <div class="c-progress">
      <div class="c-progress__path">
        <div class="c-progress__path__bar c-progress__path__bar--complete"></div>
        <div class="c-progress__path__bar c-progress__path__bar--complete"></div>
        <div class="c-progress__path__bar"></div>
      </div>
      <div class="c-progress__steps">
        <div class="c-progress__item c-progress__item--complete">
          <div class="c-progress__item__step">1</div>
          <div class="c-progress__item__label">First step</div>
        </div>
        <div class="c-progress__item c-progress__item--complete">
          <div class="c-progress__item__step">2</div>
          <div class="c-progress__item__label">Second step</div>
        </div>
        <div class="c-progress__item c-progress__item--active">
          <div class="c-progress__item__step">3</div>
          <div class="c-progress__item__label">Third step</div>
        </div>
        <div class="c-progress__item">
          <div class="c-progress__item__step">4</div>
          <div class="c-progress__item__label">Fourth step</div>
        </div>
      </div>
    </div>
*/

.c-progress {
  $width-step: 2.5rem;
  $height-bar: 0.5rem;
  position: relative;
  &__path {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: calc(100% - 1rem);
    right: 0;
    left: 0;
    top: calc(($width-step / 2) - ($height-bar / 2));
    margin-left: auto;
    margin-right: auto;
    height: $height-bar;
    background-color: $color-inactive;
    &__bar {
      flex-grow: 1;
      height: 100%;
      &--complete {
        background-color: $color-brand-primary;
      }
    }
  }
  &__steps {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    position: relative;
    &__step {
      color: $color-white;
      text-align: center;
      background-color: $color-inactive;
      border-radius: 50%;
      font-size: $font-size-2;
      width: $width-step;
      height: $width-step;
      line-height: $width-step;
      margin-left: auto;
      margin-right: auto;
    }
    &__label {
      position: absolute;
      left: -$width-step;
      width: calc($width-step * 3);
      text-align: center;
      color: $color-grey-3;
      font-size: $font-size-1;
      margin-top: $base-spacing-small;
    }
    &--complete  &__step {
      background-color: $color-brand-primary;
    }
    &--complete  &__label {
      color: $color-brand-primary;
    }
    &--active  &__step {
      background-color: $color-brand-secondary;
    }
    &--active  &__label {
      color: $color-brand-secondary;
    }
  }
}
