@import 'variables.css';
@import 'media-queries.css';
/*
-- Normalisation.
*/
@import '../../node_modules/normalize.css/normalize.css';
@import 'initialise.css';
/*
-- Utility classes
*/
@import 'utilities/u-hidden.css';

.chat {
  color: $color-black;
  margin-left: $breakpoint-md-max;
}

@define-mixin text-mixin $color:#000000 {
  .colored-element {
    color: $(color);
  }
}

@mixin text-mixin #ffffff;

@mixin text-mixin;
