/*
-- Colours
*/
$color-white: #FFFFFF;
$color-black: #000000;
$color-brand-primary: #28536C;
$color-brand-primary-light: color($color-brand-primary l(50%));
$color-brand-primary-dark: color($color-brand-primary shade(20%));
$color-brand-primary-darker: color($color-brand-primary shade(50%));
$color-brand-secondary: #74276D;
$color-brand-secondary-light: color($color-brand-secondary l(50%));
$color-brand-secondary-dark: color($color-brand-secondary shade(20%));
$color-brand-secondary-darker: color($color-brand-secondary shade(50%));
$color-error: #A8383B;
$color-error-light: color($color-error l(50%));
$color-error-dark: color($color-error shade(20%));
$color-error-darker: color($color-error shade(50%));
$color-success: #2D882D;
$color-success-light: color($color-success l(50%));
$color-success-dark: color($color-success shade(20%));
$color-success-darker: color($color-success shade(20%));
$color-grey-4: #6A6A6A;
$color-grey-3: #999999;
$color-grey-2: #DBDCDD;
$color-grey-1: #F2F2F2;
$color-grey-0: #FAFAFA;
$color-border: $color-grey-2;
$color-inactive: $color-grey-2;
$color-yellow: #E1D200;

/*
-- Font sizes
*/
$font-size-1: 1rem;
$font-size-2: 1.2rem;
$font-size-3: 1.4rem;
$font-size-4: 1.6rem;
$font-size-5: 2rem;
$font-size-header-primary: 3rem;
$font-size-header-secondary: 2.4rem;
$font-size-header-primary: 1.8rem;

/*
-- Breakpoints
*/
$breakpoint-xs: 480px;
$breakpoint-sm: 768px;
$breakpoint-md: 992px;
$breakpoint-lg: 1200px;
$breakpoint-xs-max: calc($breakpoint-sm - 1);
$breakpoint-sm-max: calc($breakpoint-md - 1);
$breakpoint-md-max: calc($breakpoint-lg - 1);

/*
-- Spacing
*/
$base-spacing: 1rem;
$base-spacing-extra-small: calc($base-spacing / 5);
$base-spacing-small: calc($base-spacing / 2);
$base-spacing-medium: calc($base-spacing * 2);
$base-spacing-large: calc($base-spacing * 3);
$base-spacing-extra-large: calc($base-spacing * 4);

/*
-- Heights
*/
$height-form-element: 3rem;
